body {
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}

.shrink {
  max-height: 130%;
  width: auto;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1 2 32%;
  flex-wrap: wrap;
}

.third {
  display: flex;
  flex: 1 2 10%;
  align-items: space-between;
}

.wrap {
  display: flex;
  flex-basis: 10%;
}

.centered-item {
  text-align: center;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: blue;
}

form div {
  margin: 1em;
  display: inline-block;
}

.all-books-heading {
  background-color: #347d56;
  color: white;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-bottom: 20px;
}

.single-book-title {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.logo-images {
  padding: 0.3em;
}

.single-book-container {
  text-align: center;
}

.single-book-information {
  text-align: center;
  display: flex;
}

.single-book-column {
  justify-content: space-between;
  width: 48%;
}

.description-and-price {
  margin-top: 150px;
}

.book-description {
  padding: 4em;
  background-color: #f2f2f1;
}

.overview {
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.single-book-price {
  font-weight: bold;
  font-size: 1.2em;
}